body {
  font-family: 'Akatab', sans-serif;
}

main {
  min-height: 80vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.carousel {
  display: block;
  max-height: 40%;
  width: auto;
}

.gallery {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
}

.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  max-height: 60rem;
}

.definition {
  background: linear-gradient(90deg, #385986, lightblue);
  margin: 20px;
  border: 2px;
  border-color: black;
}